// Global Color Definition
$primaryColor: #00afab;
$dark: #f8f8f8;
$bright: #fff;
//Positioning
.text-center {
  text-align: center !important;
}
.row {
  padding: 2rem 0 2rem 0;
}

// COLORS

.dark {
  background-color: $dark;
}

.bright {
  background-color: $bright;
}

.primary-color {
  color: $primaryColor;
}
